<div class="login-form">
  <form method="post" action="/manga/admin/login" id="log-adm-form">
    <h1>Acesso Especial</h1>
    <div class="form-group login-form-div" id="log-adm-div">
      <label for="email">Endereço de email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Seu email"
      />

    </div>
    <div class="form-group login-form-div">
      <label for="password">Senha</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Senha"
      />
      <small id="passwordHelp" class="form-text text-muted">Nunca compartilhe
        sua senha com ninguém.</small>
    </div>
    <button type="submit" class="btn btn-primary btn-all-form">Entrar</button>
  </form>
</div>
<div id="space-to-fill"></div>